<h1>Welcome</h1>
<p>Find me in app/views/index.html.erb</p>
<p>basic eshop modeling onboarding exercise</p>
<%= link_to 'users', controller: 'users' %> (orders are inside each user)
<%= link_to 'products', controller: 'users' %>
